<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2>Password Reset</h2>
  <p> 
    <strong> Email : </strong>  <%= @user.email %>  
    <br>
    <strong> New Password : </strong>  <%= @new_password %>
    <p>
    </body>
    </html>
