<h3>Good Muse</h3>
<% if user_signed_in? %>
<li>
	<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
</li>
<% else %>
<li>
	<%= link_to('Login', new_user_session_path)  %>  
</li>
<% end %>
<%= image_tag Event.last.avatar.url %>
<%= image_tag User.last.avatar.url %>
<!-- <script type="text/javascript">

	$(document).ready(function() {
		window.close();
	});
</script> -->
